.footer{
	background-color: var(--darkBg);
	padding-block: 25px 45px;
	color: var(--lightText);
	.logo{
		span:has(sup){
			font-size: 17px;
			line-height: 0.2;
			font-family: var(--fontMedium);
			font-weight: 500;
		}
		sup{font-size: 8px;}
	}
}