.header{
	
	display: flex;
	align-items: center;
	background-color: var(--darkBg);
	color:var(--lightText);
	&-content{
		
		height: 78px;
		&>*{padding-top: 20px;}
		&>*+* {border-left: 1px solid rgb(61, 61, 61);}
			
		
		@media (max-width:1023px) {
			
			align-items: center;
			height: 70px;
			&>* {
					padding-top: 0;
				}
		}
	}
	&-models{
		flex-shrink:0;
		padding-inline:24px;
		position: relative;
		a:hover{color: var(--hoverColor);}
		.drop-list{
			
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			z-index: 3;
			height: 0;
			overflow: hidden;
			background-color: rgb(25, 25, 25);
			transition: height .3s;
			
			&__menu{padding: 16px 20px;}
			a{
				font-weight: 400; 
				color:#fffefe; 
				transition: .3s; 
			    display: block; 
				white-space: nowrap;
			}
			a:hover {
				color: var(--hoverColor);
			}
			a+a{margin-top: 31px;}
		}

		a{
			column-gap: 30px;
		}
		&:hover .drop-list{
			height: 200px;
		}
		@media (max-width:1023px){display: none;}
	}
	&-contacts{
		white-space: nowrap;
		padding-left: 24px;
		flex-grow: 1;
		text-align: right;
		a{font-size: 20px;}
		@media (max-width:1023px) {
			display: none;
		}
	}
		
	&-burger{
		display: none;
		border-left: none;
		width: 54px;
		margin-left: auto;
		
		@media (max-width:1023px) {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-left: 1px solid rgb(61, 61, 61);
			padding-left: 24px;
		}
	}
		
	@media (max-width: 767px) {
	.container{padding-inline: 24px;}
	}	
	
}
.logo{
	padding-right: 20px;
	span:has(sup){
		font-size: 26px;
		line-height: 0.8;
		font-family: var(--font);
		font-weight: bold;
		display: block;
	}
	sup{
		font-size: 10px;
		font-family: var(--font);
		font-weight: 500;
	}
	span{
		flex-shrink: 0;
		display: block;
		font-size: remy(15);
		color: var(--lightText);
		margin-top: 4px;
		white-space: nowrap;
		@media (max-width:767px) {
			display: none;
		}
	}
}
.header-nav-desktop{
	padding-inline: 20px;
	ul{
		display: flex;
		column-gap:20px;
		flex-grow: 2;
	}
	a{
		transition: .3s;
		&:hover{color: var(--hoverColor);}
	}
	@media (max-width:1023px) {
		display: none;
	}
}
.mobile-menu{
	display: none;
	width: 100%;
	position: fixed;
	inset:70px 0 0;
	z-index: 10;
	background-color: rgba(255,255,255, .5);
	backdrop-filter: blur(5px);
	transform: translateX(100%);
	transition: .3s; 
   
	.scroll-y{
		background-color: var(--darkBg);
		width: min(240px, 100%);
		margin-left: auto;
	}
	&__content{
		background-color:var(--darkBg);
		padding: 20px 30px;
		// width: min(240px, 100%);
		
		&>*+*{margin-top: 45px}
		
	}
	&__list{
		max-width: 130px;
		li +li{margin-top: 30px;}
		
	}

	@media (max-width:1023px) {
		display: flex;
		&.active{transform: translateX(0);}
		
	}
}