.header-banner{
	row-gap:20px;
	&>*{
		width: 100%;
		flex-shrink: 0;
	}
	@media (max-width: 1023px) {
		padding-top: 10px;
		column-gap: 10px;
		
		.header-title{
			padding-block:25px;
			order: 2;
		}
		.header-slider-wrapper{order: 1;}
		.swiper-slide .container{padding-inline: 20px;}
	}
}
.header-title{
	padding-block: 45px 95px;
	.h1{width: min( 720px, 80%);}

	@media (max-width: 767px) {
	  padding-left: 10px;
	  .h1 {width: min(480px, 95%);}
	}
}
.shaker-models-wrapper{
	padding-block: 20px;
	background-color: #fff;
	border-radius: 10px;
	.txt-bold{
		font-size: 15px;
		font-family: var(--fontBold);
		margin-right: 50px;
		padding-top: 8px;
		flex-shrink: 0;
	}
	@media (max-width: 1023px) {
		order:3;
		.shaker-models{display: block;}
		
		.txt-bold{
			margin-right: 0;
			padding-top: 0;
			margin-bottom: 15px;
		}
	}
}
.shaker-models__type{
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(4, 200px);
	gap: 10px;
	margin-left: auto;
	margin-left: auto;
	@media (max-width: 1119px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 767px) {
		grid-template-columns: repeat(1, 1fr);
		row-gap:8px;
	}
	
	&-item{
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #000000;
		width: 100%;
		max-width: 500px;
		font-family: var(--fontMedium);
		font-weight: 500;
		
	}
	.shaker-model__name{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-slider{
	&-item{
		width: 100%;
		position: relative;
		height: 300px;
		overflow: hidden;
		padding-top: 70px;
		border-radius: 10px;
		
		.container{
			position: relative;
			z-index: 2;
		}
		@media (max-width: 767px) {
			height: 400px;
			padding-top: 215px;
			&__image img{min-height: unset; height: 400px; }
		}
	}
	&__title{
		max-width: 350px;
		color: white;
		.arrow-link{
			color: white;
			margin-top: 27px;
			display: inline-block;
			@media (max-width: 767px) {
			  margin-top: 10px;
			}
		}
	}
	&__image{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		img{
			min-height: 400px;
			width: 100%;

		}
	}

	.swiper-pagination{
		left: 50%;
		max-width: 1000px;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		column-gap:8px;
		bottom: 30px;
		@media (max-width: 1119px) {
			padding-left: 30px;
		}
		@media (max-width: 767px) {
			padding-left: 20px;
			bottom: 20px;
		}
	}

	@media (max-width: 1199px) {
		.swiper-button-next, .swiper-button-prev{display: none}
		
	}
}
