.portfolio{
	padding: 24px 20px;
	&__header{
		justify-content: space-between;
		margin-bottom: 24px;
		@media (max-width: 767px) {
		  margin-bottom: 10px;
		  padding-left: 10px;
		}
	}
	@media (max-width: 767px) {
	padding: 18px 10px 10px;
	}
	&-wrapper{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap:10px;
		@media (max-width: 767px) {
		 grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 576px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&-item{
		width: min(280px, 100%);
		overflow: hidden;
		aspect-ratio: 1;
		&:hover{
			img{transform: scale(1.15) rotate(3deg);}
		}
		img{
			width: 100%;
			height: 100%;
			transition: .3s; 
		}
	}
}