.print{
	// height: 330px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	
	justify-content: flex-end;
	padding: 25px 30px;
	@media (max-width: 576px) {
		padding: 10px;
		padding-top: 180px;
		flex-direction: column;
	}
	&:after{
		content:'';
		position: absolute;
		inset: 0;
         background: rgb(255, 255, 255);
	    background: radial-gradient(circle, rgba(255, 255, 255, 0) 21%, rgba(57, 53, 52, 1) 78%);
		@media (max-width: 576px){display: none;}
	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		
		img{
			width: 100%;
			min-height:100%;
			transform: scale(1.5);
			object-position: -129px 12px;
			@media (max-width: 767px) {
			  object-position: 0;
			  
			}
		}
	}
}
.print__text{
	width: min(530px, 70%);
	position: relative;
	z-index: 3;
	border-radius: 10px;
	padding: 30px 84px 30px 30px;
	.title-25{margin-bottom: 25px;}
	p{margin-bottom: 30px;}
	@media (max-width: 1023px) {
		padding: 20px;
	}
	@media (max-width: 576px) {
		padding: 20px;
		width: 100%;
		.btn{width: 100%;}
	}
}