.product-parts{
	padding: 10px;
	padding-bottom: 30px;
	@media (max-width: 767px) {
	background-color: transparent;
	padding: 0;
	}
}
.product-parts-sliders{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap:10px;
	row-gap: 25px;
	@media (max-width: 767px) {
		grid-template-columns: 1fr 1fr;
		row-gap: 18px;
	}
	@media (max-width: 576px) {
		grid-template-columns: 1fr;
	}
}

.parts-sliders__item .swiper{
	width: 386px;
	
	.swiper-slide{
		img{
			width: 100%;
			aspect-ratio: 1;
			@media (max-width: 767px) {
			height: 300px;
			}
		}
	}
	
	@media (max-width: 1364px) {
		width: 28vw;
	}
	@media (max-width: 1199px) {
		width: 29vw;
	
	}
	@media (max-width: 991px) {
		width: 28vw;
	}
	@media (max-width: 767px) {
		width: 45vw;
	}
	@media (max-width: 576px) {
		width:calc(100vw - 40px);
	}
	.swiper-pagination{
		padding-left: 10px;
		bottom: 10px!important;
		column-gap: 5px;
		&-bullet-active{
			width: 10px;
			height: 10px;
			background-color: #41a1f8;
		}
	}
}
.product-parts__description{
	padding: 3px 10px;
	.title-25{margin-bottom: 8px; font-family: var(--font);}
}