//===================BENEFITS ==================
section.benefits.white-bg.mt-10
	.container
		.benefits-wrapper
			//====== single item =======
			.benefit-item
				img.lazy(src="./img/icons/benefit1.svg", width="40" alt="icon")
				p Есть декларация<br>соответствия ГОСТ Р<br>и протокол испытания материала

			//====== single item =======
			.benefit-item
				img.lazy(src="./img/icons/benefit2.svg", width="40" alt="icon")
				p Без запаха<br>и БФА

			//====== single item =======
			.benefit-item
				img.lazy(src="./img/icons/benefit3.svg", width="40" alt="icon")
				p Стойкая УФ <br> печать логотипа

			//====== single item =======
			.benefit-item
				img.lazy(src="./img/icons/benefit4.svg", width="40" alt="icon")
				p Первое собственное<br>производство<br>в России

			//====== single item =======
			.benefit-item
				img.lazy(src="./img/icons/benefit5.svg", width="40" alt="icon")
				p Цены и расчеты<br>по договору<br>в рублях