mixin blog-card(img, title, txt)
	a(href="single-blog.html").blog-card.img-zoom
		.blog-card__img
			img(src="./img/blog/"+ img +".webp", alt="img")
		
		.blog-card__body
			h3.title-25 #{title}
			p #{txt}
			.blog-card__footer
				span.btn Читать
				span 02 08 2022

section.blog
	.section-title
		h2.h2 Полезные статьи
	.scroll-horizontal
		.blog-cards
			+blog-card(1, 'Шейкер + маркетплейс = 💜','Вы находитесь в поисках товара для продажи на маркетплейсах или своем магазине/фитнес-центре? Или вы хотите увеличить популярность своего бренда? Может быть хотите заказать шейкеры со своим логотипом к какой-то торжественной дате?')
			+blog-card(2, 'PINK','Каждый месяц мы выбираем один цвет стакана с любой крышкой и клапаном и делаем на него скидку. Акция распространяется на модели С01 и С02. Больше никаких условий, просто выберите крышку и клапан и получите свой уникальный шейкер со скидкой! ')