mixin model-card(title, imgSrc, imgW, chkd)
	//======= single model =======
	label.model-card-label.special-label
		if chkd
			input(type="radio" name="shaker-model" checked)
		else
			input(type="radio" name="shaker-model")
		.model-card
			span.item-info i
			.model-card__img
				img(src="./img/models/c0"+imgSrc+".webp", width=""+imgW  alt="img")
			p.title-15 Модель С0#{imgSrc} —&nbsp;#{title}00 мл

mixin model-card-mini(title, imgSrc, imgW, chkd)
	//======= single model =======
	label.model-card-label.special-label
		if chkd
			input(type="radio" name="shaker-model-mini" checked)
		else
			input(type="radio" name="shaker-model-mini")
		.model-card.model-card--mini
			span.item-info i
			.model-card__img
				img(src="./img/models/c0"+imgSrc+".webp", width=""+imgW  alt="img")
			p.title-15 С0#{imgSrc} —&nbsp;#{title}00 мл
mixin model-color(bgColor, svgColor, chkd)
	//======== один элемент =========
	label.special-label.model-color&attributes(attributes)
		if chkd
			input(type="radio" name="model-color" checked)
		else
			input(type="radio" name="model-color")
		//===== цвет, прописанный в background- левая половинка круга, а цвет, прописанный в color- правая половинка круга
		.model-color__item(style="background: "+ bgColor+ "; color:"+ svgColor+ " ;")
			svg
				use(href="./img/spriteSvg.svg#color-part")
//============= Consructor steps =============
section.constructor.constructor-minimize.white-bg.mt-10
	.container
		.constructor-display.active
			
			//=======LEFT COLUMN ======
			.constructor-column-left
				h3.title-20.mb-20 Собрать свой шейкер
				//=======  MODELS CARDS =======
				.models-cards.models-cards--wrap
					+model-card-mini(6, 1, 92, 'chkd')
					+model-card-mini(4, 2, 87)
					+model-card-mini(6, 3, 92)
					+model-card-mini(4, 4, 87)
			
			
			//======= CENTER COLUMN ======
			.constructor-column-center
				//========= Images Block ========
				.constructor-images
					img.model-base(src="./img/c01/C01_base.webp", width="270" alt="c01")
					img.model-body(src="./img/c01/C01_body.webp", width="270" alt="c01")
					img.model-cap(src="./img/c01/C01_cap_yellow.webp", width="270" alt="c01")
					img.model-snap(src="./img/c01/c01_snap.webp", width="270" alt="c01")
				
				//======= current model name (visible in mob version) =====
				p.current-model-name С01 <br>600 мл
			
			//======= Right COLUMN ======
			.constructor-column-right
				//====== PART ITEMS ===============
				.model-parts
					//======== single item =======
					label.model-part.special-label
						input(type="radio" name="model-part" checked)
						span.btn-slim Клапан
				
					//======== single item =======
					label.model-part.special-label
						input(type="radio" name="model-part")
						span.btn-slim Петля						
					//======== single item =======
					label.model-part.special-label
						input(type="radio" name="model-part")
						span.btn-slim Крышка
				
					//======== single item =======
					label.model-part.special-label
						input(type="radio" name="model-part")
						span.btn-slim Стакан							
					//======== single item =======
					label.model-part.special-label
						input(type="radio" name="model-part")
						button.btn-slim Печать на стакане
				
				//==========COLOR PALETTE =======
				.colors-palette-block
					//======== Выбранные цвета =====
					p.txt-bold#output-color
						span.color-first Белый
						span -
						span.color-second Белый
					
					//======== Палитра цветов =====
					.scroll-horizontal
						.colors-palette
							+model-color('white', 'white', 'chkd')(class="model-color--current")
							+model-color('#f6e13c', 'white')
							+model-color('#f99827', 'white')
							+model-color('#e4476a', 'white')
							+model-color('#79cb37', 'white')
							+model-color('#78b1e0', '#78b1e0')
							+model-color('#fec83c', '#f6e13c')
							+model-color('#000000', '#f6e13c')
							+model-color('#79cb37', '#79cb37')
							+model-color('#ea2128', '#ea2128')
							+model-color('#653797', '#653797')
							+model-color('#ffffff', '#000000')
							+model-color('#78b1e0', '#000000')
							+model-color('#f6e13c', '#000000')
							+model-color('#f99827', '#000000')
							+model-color('#f6e13c', 'white')
							+model-color('#f99827', 'white')
							+model-color('#e4476a', 'white')
							+model-color('#79cb37', 'white')
							+model-color('#78b1e0', '#78b1e0')
							+model-color('#fec83c', '#f6e13c')
							+model-color('#000000', '#f6e13c')
							+model-color('#79cb37', '#79cb37')
							+model-color('#ea2128', '#ea2128')
				
				//=========BUTTON ===========
				.constructor-frame__button.mt-auto
					a(href="#contacts").btn
						span Заказать
						svg.angle-right
							use(href="./img/spriteSvg.svg#angle-right")