mixin model-card(title, imgSrc, imgW, chkd)
	label.model-card-label.special-label(data-item="62")
		if chkd
			input(type="radio" name="shaker-model" checked)
		else
			input(type="radio" name="shaker-model")
		.model-card
			span.item-info i
			.model-card__img
				img.lazy(src="./img/models/c0"+imgSrc+".webp", width=""+imgW  alt="img")
			p.title-15 Модель С0#{imgSrc} —&nbsp;#{title}00&nbsp;мл


mixin model-color(bgColor, svgColor, chkd)
	//======== один элемент =========
	label.special-label.model-color.radio&attributes(attributes)
		if chkd
			input(type="radio" name="colors_cap" checked)
		else
			input(type="radio" name="colors_cap1")
		//===== цвет, прописанный в background- левая половинка круга, а цвет, прописанный в color- правая половинка круга
		.model-color__item(style="background: "+ bgColor+ "; color:"+ svgColor+ " ;")
			svg
				use(href="./img/spriteSvg.svg#color-part")
//============= Consructor steps =============
section.constructor.white-bg
	.container
		//====== SECTION TITLE =======
		.constructor-header.d-flex-y
			h3.title-25.active(data-step-title) Шаг 1
			h3.title-25(data-step-title) Шаг 2
			
			
		//======= STEP 1 =====
		.constructor-models(data-step-content)
			h2 Выберите модель
			.models-cards.constructor-nav
				+model-card(6, 1, 92, 'chkd')
				+model-card(4, 2, 87)
				+model-card(6, 3, 92)
				+model-card(4, 4, 87)
			
			.constructor-frame__button.mt-20
				button.btn(type="button" onclick="viewConsructorNextStep()")
					span Выбрать цвет
					svg.angle-right
						use(href="./img/spriteSvg.svg#angle-right")
		//======= STEP 2 =====
		.constructor-display.constructor-for.active(data-step-content)
			//=======LEFT COLUMN ======
			.constructor-column-left
				h2 Выберите цвета деталей<br> и сделайте заказ
			
			
			//======= CENTER COLUMN ======
			.constructor-column-center.constructor-preview
				//========= Images Block ========
				.constructor-images.imgs
					img#constructor_model.model-base.lazy(src="./img/c01/C01_def3.webp", width="270" alt="model")

					img#constructor_colors_cap.imgs_replace.model-cap.lazy(src="./img/c01/C01_cap_white3.webp", width="270" alt="cap")
					
					img#constructor_colors_bottleneck.imgs_replace.model-snap.lazy(src="./img/c01/C01_snap_white.webp", width="270" alt="snap")

					img#constructor_colors_bottle.imgs_replace.model-body.lazy(src="./img/c01/C01_body_white.webp", width="270" alt="body")

					//====== изображение для петли ===========
					//- img#constructor_colors_loop.imgs_replace.model-loop.lazy(src="./img/c01/C03_loop_white_white_new_02.png", alt="loop")
				
				//======= current model name (visible in mob version) =====
				.code
					span.current-model-name С01 <br>600 мл
			
			//======= Right COLUMN ======
			.constructor-descriptiont-wrapper
				//====== PART ITEMS ===============
				.model-parts.adds
					//======== single item =======
					label.model-part.special-label.add.add3(data-target="c_bottle")
						input(type="radio" name="model-part" checked)
						span.btn-slim Клапан
				
					//======== single item =======
					label.model-part.special-label.add.add1(data-target="c_loop")
						input(type="radio" name="model-part")
						span.btn-slim Петля						
					//======== single item =======
					label.model-part.special-label.add.add.add2(data-target="c_caps")
						input(type="radio" name="model-part")
						span.btn-slim Крышка
				
					//======== single item =======
					label.model-part.special-label.add.add4(data-target="c_bottle")
						input(type="radio" name="model-part")
						span.btn-slim Стакан							
					//======== single item =======
					label.model-part.special-label.personal-logo
						input(type="radio" name="model-part")
						button.btn-slim Печать на стакане
				
				//==========COLOR PALETTE =======
				.colors-palette-block.constructor-descriptiont
					
					.constructor-description-absolute.active#c_caps
						//======== Выбранные цвета =====
						p.txt-bold#output-color
							span.color-first Белый
							span -
							span.color-second Белый
						
						//======== Палитра цветов =====
						.scroll-horizontal
							.group-radio.color-radio.colors-palette
								+model-color('white', 'white', 'chkd')(class="model-color--current")
								+model-color('#f6e13c', 'white')
								+model-color('#f99827', 'white')
								+model-color('#e4476a', 'white')
								+model-color('#79cb37', 'white')
								+model-color('#78b1e0', '#78b1e0')
								+model-color('#fec83c', '#f6e13c')
								+model-color('#000000', '#f6e13c')
								+model-color('#79cb37', '#79cb37')
								+model-color('#ea2128', '#ea2128')
								+model-color('#653797', '#653797')
								+model-color('#ffffff', '#000000')
								+model-color('#78b1e0', '#000000')
								+model-color('#f6e13c', '#000000')
								+model-color('#f99827', '#000000')
								+model-color('#f6e13c', 'white')
								+model-color('#f99827', 'white')
								+model-color('#e4476a', 'white')
								+model-color('#79cb37', 'white')
								+model-color('#78b1e0', '#78b1e0')
								+model-color('#fec83c', '#f6e13c')
								+model-color('#000000', '#f6e13c')
								+model-color('#79cb37', '#79cb37')
								+model-color('#ea2128', '#ea2128')

	
			//====== buttons block =======
			.constructor-buttons.d-flex-y
				button.btn(type="button" onclick="viewConsructorPrevStep()")
					svg.angle-left
						use(href="./img/spriteSvg.svg#angle-right")
					span Выбрать модель
					

				a(href="#contacts").btn
					span Заказать
					svg.angle-right
						use(href="./img/spriteSvg.svg#angle-right")

