footer.footer
	.container
		.footer-content
			.footer-logo
				a(href="#!").logo
					span Shaker Bottle #[sup TM]
					span Производитель шейкеров в России.  2014 — 2023

			.footer-menu
				nav
					a(href="#!") Text
					a(href="#!") Text
					a(href="#!") Text
					a(href="#!") Text
					a(href="#!") Text
				nav
					a(href="#!") Text
					a(href="#!") Text
					a(href="#!") Text
					a(href="#!") Text
					a(href="#!") Text