footer.footer
	.container
		.footer-content
			.footer-logo
				a(href="#!").logo
					span Shaker Bottle #[sup TM]
					span Производитель шейкеров в России.  2014&nbsp;—&nbsp;2023

			
			//====footer menu wrapper =======
			.footer-menu-wrapper
				h3.title-15.mb-40 Прдукция:
				//======= nav columns ======
				.footer-menu
					
					nav
						a(href="#!") Шейкеры
						a(href="#!") Бутылки с логотипом
						a(href="#!") Спортивные бутылки
					
					nav
						a(href="#!") Подарки с логотипом
						a(href="#!") Продукция с логотипом
						a(href="#!") Брендированные сувениры