//========== HEADER ===========
header.header
	.container
		.header-content.d-flex
			a(href="index.html").logo
				img(src="./img/logo.svg", width="205" height="22" alt="logo")
				span Производитель  шейкеров
			.header-models
				ul
					li
						a(href="#!").d-flex-y
							span Наши <br> модели
							svg.caret-down
								use(href="./img/spriteSvg.svg#caret-down")
			.header-nav
				ul.d-flex
					li
						a(href="#!")  Производство<br> и&nbsp;печать
					li
						a(href="#!")  Как заказать
					li
						a(href="#!")  Статьи
					li
						a(href="#!")  Контакты
			.header-contacts.d-flex
				a(href="tel:88007707419") 8 800 770 74 19
