//========  PRODUCT SLIDERS ===========
section.product-parts.white-bg.mt-10

	.product-parts-sliders
		//======= SINGLE CARD =======
		.parts-sliders__item
			//======= slider =====
			.swiper.product-part-1
				.swiper-wrapper
					.swiper-slide
						img.lazy(src="./img/product-page/1.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/1.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/1.webp" width="386", alt="img")
				
				//====slider-navigation ======
				.swiper-button-next.next-small
					svg
						use(href="./img/spriteSvg.svg#caret-right")
				.swiper-button-prev.prev-small
					svg
						use(href="./img/spriteSvg.svg#caret-left")
				.swiper-pagination
		
			//======= description =========
			.product-parts__description
				.title-25 Стакан
				p Объем 600 мл по мерной шкале (фактически 700 мл) Классическая форма с двумя боковыми волнистыми гранями.
		
		//======= SINGLE CARD =======
		.parts-sliders__item
			//======= slider =====
			.swiper.product-part-2
				.swiper-wrapper
					.swiper-slide
						img.lazy(src="./img/product-page/2.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/2.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/2.webp" width="386", alt="img")
				
				//====slider-navigation ======
				.swiper-button-next.next-small
					svg
						use(href="./img/spriteSvg.svg#caret-right")
				.swiper-button-prev.prev-small
					svg
						use(href="./img/spriteSvg.svg#caret-left")
				.swiper-pagination
			
			//======= description =========
			.product-parts__description
				.title-25 Клапан
				p Надежный крепкий клапан. Жестко фиксируется в открытом положении и не ударит по носу. Имеет гигиеническую “юбочку”, которая не даст грязным пальцам прикасаться к горлышку шейкера.  
		
		//======= SINGLE CARD =======
		.parts-sliders__item
			//======= slider =====
			.swiper.product-part-3
				.swiper-wrapper
					.swiper-slide
						img.lazy(src="./img/product-page/3.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/3.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/3.webp" width="386", alt="img")
				
				//====slider-navigation ======
				.swiper-button-next.next-small
					svg
						use(href="./img/spriteSvg.svg#caret-right")
				.swiper-button-prev.prev-small
					svg
						use(href="./img/spriteSvg.svg#caret-left")
				.swiper-pagination
			//======= description =========
			.product-parts__description
				.title-25 Мерная шкала
				p Прозрачная черная шкала, при любом цвете стакана будет видно уровень жидкости. Шкала мл и oz.
		
		//======= SINGLE CARD =======
		.parts-sliders__item
			//======= slider =====
			.swiper.product-part-4
				.swiper-wrapper
					.swiper-slide
						img.lazy(src="./img/product-page/4.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/4.webp" width="386", alt="img")
					.swiper-slide
						img.lazy(src="./img/product-page/4.webp" width="386", alt="img")
				
				//====slider-navigation ======
				.swiper-button-next.next-small
					svg
						use(href="./img/spriteSvg.svg#caret-right")
				.swiper-button-prev.prev-small
					svg
						use(href="./img/spriteSvg.svg#caret-left")
				.swiper-pagination
			//======= description =========
			.product-parts__description
				.title-25 Комплектация
				p Сетка для смешивания всегда в комплекте. Металический шарик — пружина и пластиковый венчик (дополнительно).