//================= REVIEW ==============
section.review
	.section-title
		h2.h2 Отзывы наших клиентов
	
	.review-slider.swiper
		.swiper-wrapper
			//=======single slide =========
			.swiper-slide
				.review-card
					.review-card__img
						img(src="./img/review/1.webp", width="150" alt="img")
					
					.review-card__text
						h4.txt-bold Анастасия Крамаренко
						p ТЭО г. Новосибирск
						.review-card__desk
							p Заказывали изготовление Шейкеров с нанесением логотипа компании, в подарок ученикам на Новый год. Оперативно подготовили макеты будущего изделия, и оганизовали доставку в установленный срок в город Иркутск . Дети и взрослые были рады таким красивым и качественным подаркам.

			//=======single slide =========
			.swiper-slide
				.review-card
					.review-card__img
						img(src="./img/review/2.webp", width="150" alt="img")
					
					.review-card__text
						h4.txt-bold Рустем Абдрахимов
						p X-fitness г. Стерлитамак
						.review-card__desk
							p Уже несколько лет сотрудничаем с Shaker Bottle, крутые шейкеры, отличного качества, можно подобрать любые вариации цвета. Клиенты оценили. Отлично продаются. Будем заказывать и дальше.

			//=======single slide =========
			.swiper-slide
				.review-card
					.review-card__img
						img(src="./img/review/1.webp", width="150" alt="img")
					
					.review-card__text
						h4.txt-bold Анастасия Крамаренко
						p ТЭО г. Новосибирск
						.review-card__desk
							p Заказывали изготовление Шейкеров с нанесением логотипа компании, в подарок ученикам на Новый год. Оперативно подготовили макеты будущего изделия, и оганизовали доставку в установленный срок в город Иркутск . Дети и взрослые были рады таким красивым и качественным подаркам.

			//=======single slide =========
			.swiper-slide
				.review-card
					.review-card__img
						img(src="./img/review/2.webp", width="150" alt="img")
					
					.review-card__text
						h4.txt-bold Рустем Абдрахимов
						p X-fitness г. Стерлитамак
						.review-card__desk
							p Уже несколько лет сотрудничаем с Shaker Bottle, крутые шейкеры, отличного качества, можно подобрать любые вариации цвета. Клиенты оценили. Отлично продаются. Будем заказывать и дальше.

		.swiper-button-next
			svg
				use(href="./img/spriteSvg.svg#caret-right")
		.swiper-button-prev
			svg
				use(href="./img/spriteSvg.svg#caret-left")
		.swiper-pagination