.accordeon-group
	.accordeon-item
		.accordeon-item-header(data-name="accordeon-title")
			h3 Заголовок 1
		.accordeon-item-content.loock.hidden
			p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Запятых, вскоре рукопись, букв ручеек сих встретил снова ведущими его города подзаголовок деревни взгляд на берегу, инициал родного все по всей назад.
			p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Переписали, если безопасную города, собрал ему lorem продолжил выйти возвращайся осталось на берегу заглавных даль силуэт взобравшись переулка послушавшись скатился однажды!

.acordion#how-work-accor
	//=========== single block =============
	.acor-item
		.accordeon-item-header(data-name="accordeon-title")
			h3 01) Заявка
		.accordeon-item-content.loock.hidden
			p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Запятых, вскоре рукопись, букв ручеек сих встретил снова ведущими его города подзаголовок деревни взгляд на берегу, инициал родного все по всей назад.
			p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Переписали, если безопасную города, собрал ему lorem продолжил выйти возвращайся осталось на берегу заглавных даль силуэт взобравшись переулка послушавшись скатился однажды!
.acordion#how-work-accor
	//=========== single block =============
	.acor-item
		input#acor1(type='radio' name='acor' checked='checked')
		label(for='acor1') 01) Заявка
		.acor-body
			p Отправьте заявку любым удобным способом — по номеру 8 800 770-74-19, email, Viber, WhatsApp, Telegram, на наши странички в VK и Instagram, через форму обратной связи и даже через конструктор шейкера. Кстати через конструктор вы можете сразу дать понять менеджеру шейкеры в каких цветах вам больше нравятся.
