//================  video preview ==============
section.video-preview
	
	.video-preview-wrapper
		//===== video item =====
		.video-preview-item(data-video-btn="video1")
			//===== play btm =====
			button.play-icon
				svg.svg-play
					use(href="./img/spriteSvg.svg#svg-play")
			.video-poster
				img.lazy(src="./img/video-posters/poster1.webp", alt="poster")
			
		//===== video item =====
		.video-preview-item(data-video-btn="video2")
			//===== play btm =====
			button.play-icon
				svg.svg-play
					use(href="./img/spriteSvg.svg#svg-play")
			.video-poster
				img.lazy(src="./img/video-posters/poster2.webp", alt="poster")