@function remy($pxsize) {

  @return calc(($pxsize/15))+rem;
}
:root{
 --text: rgba(0,0,0, 1);
 --lightText: rgba(255,254,254,1);
 --darkBg: rgba(0, 0, 0, 1);
 --accentYellow: #fdebc5;
 --accentBlue:#5769d6;
 --font: 'Montserrat';
 --fontMedium: 'Montserrat-Medium';
 --fontSemi: 'Montserrat-SemiBold';
 --fontBold: 'Montserrat-Bold';
}
* {
	  box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
    
  }
    *:before, *:after{
      box-sizing: border-box;
    }
  html {
	 scroll-behavior: smooth;
  }

  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  background-color: #e2e2e2;
  font-family: var(--fontMedium);
  font-weight: 500;
  color: var(--text);
  font-size: 15px;
  line-height: 1.2;
	-webkit-font-smoothing: antialiased;
  position: relative;
  transition: opacity 1s; 
  

  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  
  a{color: inherit; display: inline-block;}
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
 
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  object-fit: cover;
  }
  
  input,
  button, button:focus, input:focus {
	outline: none;
  border: none;
  background: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.page-main,.inner-page {
  width: min(1260px, 100%);
  margin-inline: auto;
  padding-inline: 30px;
  @media (max-width: 767px) {
      padding-inline: 10px;
  }
}
.inner-page{
  padding-top: 25px;
  padding-bottom: 50px;
  h1{
    margin-bottom: 45px;
    @media (max-width: 767px) {
    margin-bottom:30px;
    }
  }
}
.container{
  width: min(1060px, 100%);
  margin-inline: auto;
  padding-inline: 30px;
  @media (max-width: 767px) {
      padding-inline: 10px;
  }
  
}
.d-flex, .d-flex-y,.d-flex-x, .d-flex-center,.d-flex-column{
  display: flex;
}
.d-flex-y,.d-flex-center{
  align-items: center;
}
.d-flex-x,.d-flex-center{
  justify-content: center;
}
.d-flex-column{
  flex-direction: column;
}
.online-state{
  column-gap: 8px;
  margin-top: 6px;;
  &__dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: lightgrey;

  }
  &.active .online-state__dot{background-color: #00ff2e;}
}
/*========== TYPOGRAPHY ==========*/
h1, h2{
  font-size: 40px;
  font-family: var(--fontSemi);
  font-weight: 600;
  @media (max-width: 1023px) {
    font-size: 34px;
  }
  @media (max-width: 767px) {
   font-size: 30px;
  }
}
.title-25{
  font-size: 25px;
  line-height: 1.2;
  font-family: var(--fontSemi);
  font-weight: 600;
  @media (max-width: 1023px) {
    font-size: 20px;
  }
  @media (max-width: 767px) {
  font-size: 25px;
  }
}
.title-20{
  font-size: 20px;
  font-family: var(--fontMedium);
  font-weight: 500;
  @media (max-width: 1023px) {
      font-size: 18px;
    }
  
    @media (max-width: 767px) {
      font-size: 15px;
    }
}
.title-15{
  font-size: 15px;
  font-family: var(--fontMedium);
    font-weight: 500;
}
.txt-bold{
  font-family: var(--fontBold);
}
.txt-center{text-align: center;}
.contact-link {
  font-size: 20px;
}
.contacts-links a {
  display: block;
  width: fit-content;
 
  white-space: nowrap;
}
.online-state{
   display: flex;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
  @media (max-width: 767px) {
  margin-top: 30px;
  }
}
.p-0{
  padding: 0!important;
}
.mt-auto{margin-top: auto;}
.white-bg{
  background-color: white;
  border-radius: 10px;
  @media (max-width: 767px) {
    border-radius: 10px;
  }
}
.accent-bg{
  background-color: var(--accentYellow)!important;
}
.section-title{
  padding-top: 90px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.img-zoom{
  overflow: hidden;
  img{
    transition: .5s; 
  }
  &:hover img{
    transform: scale(1.15);
  }
}
.scroll-horizontal {

  @media (max-width: 767px) {
    overflow: hidden;
    width: calc(50% + 50vw - 10px) !important;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

  }
}
.scroll-y {
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
@keyframes slowOpacity {
  to {
    opacity: 1;
  }
}
.bottom-navigation{
  .swiper-pagination {
    bottom: 12px;
    width: fit-content;
    position: absolute;

    left: 50%;
    transform: translate(-50%);
    font-weight: 700;
    font-variant-numeric: tabular-nums;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: calc(100% - 20px);
    flex-shrink: 0;

  }

  .swiper-button-prev {
    left: 43%
  }

  .swiper-button-next {
    right: 43%
  }

  @media (max-width: 1199px) {
    .swiper-button-prev {
      left: 38%;
    }

    .swiper-button-next {
      right: 38%;
    }
  }

  @media (max-width: 767px) {
  

    .swiper-button-prev {
      left: 20%;
    }

    .swiper-button-next {
      right: 20%;
    }
  }
}