*[class^="icon-"]{
	display: inline-block;
}

.caret-down{
	width: 11px;
	height: 11px;
}
.arrow-link{
	position: relative;
	padding-right: 55px;
	&:after{
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 44px;
		height: 16px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='16px'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M35.993,15.078 L34.579,13.663 L39.243,9.000 L-0.000,9.000 L-0.000,7.000 L39.242,7.000 L34.579,2.336 L35.993,0.922 L43.071,8.000 L35.993,15.078 ZM40.000,8.243 L40.243,8.000 L40.000,7.757 L40.000,8.243 Z'/%3e%3c/svg%3e");
	}

}
.item-info{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid black;
	line-height: 22px;
	text-align: center;
	font-size: 16px;
	font-family: var(--fontMedium);
	font-weight: 500;
	cursor:pointer;
	&:hover{
		background-color: lightgray;
	}
}
.angle-left{
	transform: rotate(180deg);
}
.play-icon{
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	.svg-play{
		width: 50px;
		height: 50px;
		color: var(--lightText);
	}
}
.icon-table{
	width: 30px;
	height: 30px;
	opacity: .5;
	transition: .3s; 
	&:hover{
		opacity: .3;
	}
	svg{
		width: 30px;
		height: 30px;
	}
}
.icon-download{
	width: 24px;
	height: 24px;
	display: inline-block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3c!--!Font Awesome Free 6.5.2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3e%3cpath d='M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z'/%3e%3c/svg%3e");
	opacity: .5;
}
.notice-icon{
	display: inline-block;
	width: 27px;
	height: 24px;
	background: url(../img/warning.webp);
	background-size: contain;
	flex-shrink: 0;
}
svg.caret-right, svg.caret-left{
	width: 14px;
	height: 14px;
	display: inline-block;
}