.blog-articles{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:10px;
	.blog-card{
		&__body{
			padding: 20px;
			.title-25{
				font-size: 15px;
			}
			p{-webkit-line-clamp: 3;}
		}
		&__footer{
			padding-top: 20px;
			.btn{height: 37px;}
		}
	}
	@media (max-width: 1023px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 599px) {
		grid-template-columns: 1fr;
		.blog-card{margin: 0 auto;}
	}
}