.contacts-main .container{
	width: min(1120px, 100%);
}
.contacts-row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	h2{line-height: 1; margin-top: -12px;}
	@media (max-width: 767px) {
	gap: 10px;
	}
	.contacts-block{
		flex-shrink: 0;
		flex-grow: 1;
		background-color: #fff;
		padding: 30px;
		border-radius: 10px;
		overflow:hidden;
		.contacts-links a{padding-block: 0;}
		@media (max-width: 767px) {
		padding: 20px;
		}
		&.contacts-block--connect{
			gap:30px;
			align-items: flex-start;
			display: flex;
			padding-bottom: 20px;
			&>*{
				border-radius: 10px;
				padding: 10px 20px;
			}
			@media (max-width: 767px) {
			flex-direction: column;
			gap:20px;
			padding-bottom: 10px;
			&>*{width: 100%;}
			}
		}
		.contacts-opening{
			flex-shrink: 0;
			.online-state{margin-top: 11px;}
		}
		
		address{
			margin-top: 15px;
			font-style: normal;
			max-width: 200px;
		}
		
	}
	.how-working {
		min-height: 485px;
		padding: 24px;
		padding-left: 30px;
		.title-25 {
			margin-bottom: 25px;
		}
		@media (max-width: 1023px) {
		min-height: unset;
		}
	}
	@media (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
}
.contacts-row +.contacts-row{margin-top: 10px;}
.contacts-row.contacts-row--info{
	align-items: start;
	
	@media (max-width: 767px) {
		min-height: unset;
	}
}
.contacts-block.contacts-block--map{
	padding: 0!important;
	@media (max-width: 767px) {
	border-radius: 0;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 15px;
	}
}
.map{
	width: 100%;
	display: block;
	height: 485px;
	@media (max-width: 767px) {
		height: 300px;
	}
	
}