.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

.btn-next, .btn-prev, .swiper-button-next,
.swiper-button-prev {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	transition: .3s;

	svg {
		width: 11px;
		height: 13px;

	}

	&:hover {
		background-color: black;
		color: white;
	}
}
.swiper-button-prev {
	left: 18px;
	&.prev-small{
		width: 30px;
		height: 30px;
		left:8px;
	}
}

.swiper-button-next {
	right: 18px;
	&.next-small{
		width: 30px;
		height: 30px;
		right:8px;
	}
}
.swiper-pagination {
	display: flex;
	align-items: center;
	column-gap: 8px;
	font-variant-numeric: tabular-nums;
	&-bullet {
		width: 10px;
		height: 10px;
		background-color: #fff;
		transition: .3s;
		opacity: 1;
		margin: 0!important;
		&:hover {
			opacity: .7;
		}
	}

	&-bullet-active {
		width: 15px;
		height: 15px;
	}
}
.bottom-navigation {
	.swiper-pagination {
		bottom: 12px;
		width: fit-content;
		position: absolute;

		left: 50%;
		transform: translate(-50%);
		font-weight: 700;
		font-variant-numeric: tabular-nums;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: calc(100% - 20px);
		flex-shrink: 0;

	}

	.swiper-button-prev {
		left: 42.5%
	}

	.swiper-button-next {
		right: 42.5%
	}

	@media (max-width: 1199px) {
		.swiper-button-prev {
			left: 38%;
		}

		.swiper-button-next {
			right: 38%;
		}
	}

	@media (max-width: 767px) {


		.swiper-button-prev {
			left: 20%;
		}

		.swiper-button-next {
			right: 20%;
		}
	}
}