extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.inner-page.inner-page--contacts
		//======= breadcrumbs =======
		.breadcrumbs
			ul
				li
					a(href="index.html") Главная
				li
					a(href="#!") Контакты
		
		section.contacts-main
			h1 Контакты
			.container
				.contacts-grid
					//======== ROW =========
					.contacts-row
						//======== title block ======
						.contacts-block.accent-bg.d-flex-center
							h2 Остались<br>вопросы?
						
						//====== opening hours + contacts =====
						.contacts-block.contacts-block--connect
							//====== opening hours =============
							.contacts-opening.accent-bg
								p 10:00 — 18:00
								p Пн — Пт
								//===== кругляшок горит зеленым, если есть класс active  у родителя .online-state
								.online-state.d-flex-y.active
									span.online-state__dot
									span.online-state__text Сейчас онлайн
							
							//======contacts =====
							.contacts-links
								a(href="tel:88007707419") 8 800 770 74 19
								a(href="mailto:info@sbottle.ru") info@sbottle.ru
								address Челябинск, ул.&nbsp;Российская, 161

					
					//============= ROW ====================
					.contacts-row.contacts-row--info
						.contacts-block.how-working
							h2 Как мы работаем?

							.acordion#how-work-accor
								//=========== single block =============
								.accordion-wrap
									.accordion-item.active
										p.accordion-header  01) Заявка

									.accordion-text(style="display: block;")
										p Отправьте заявку любым удобным способом — по номеру 8 800 770-74-19, email, Viber, WhatsApp, Telegram, на наши странички в VK и Instagram, через форму обратной связи и даже через конструктор шейкера. Кстати через конструктор вы можете сразу дать понять менеджеру шейкеры в каких цветах вам больше нравятся.
								//=========== single block =============
								.accordion-wrap
									.accordion-item
										p.accordion-header  02) Дизайн макетов
									.accordion-text
										p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis itaque doloremque in sint facere enim ipsa doloribus, ab voluptates explicabo cupiditate omnis sapiente assumenda laboriosam illum alias praesentium iure vel.
								//=========== single block =============
								.accordion-wrap
									.accordion-item
										p.accordion-header 03) Заключение договора и оплата
									.accordion-text
										p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis itaque doloremque in sint facere enim ipsa doloribus, ab voluptates explicabo cupiditate omnis sapiente assumenda laboriosam illum alias praesentium iure vel.
								//=========== single block =============
								.accordion-wrap
									.accordion-item
										p.accordion-header 04) Производство
									.accordion-text
										p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis itaque doloremque in sint facere enim ipsa doloribus, ab voluptates explicabo cupiditate omnis sapiente assumenda laboriosam illum alias praesentium iure vel.
								//=========== single block =============
								.accordion-wrap
									.accordion-item
										p.accordion-header 05) Отгрузка и доставка
									.accordion-text
										p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis itaque doloremque in sint facere enim ipsa doloribus, ab voluptates explicabo cupiditate omnis sapiente assumenda laboriosam illum alias praesentium iure vel
						
						.contacts-block.contacts-block--map
							map.map
								script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A63eb4a2915622d91de2ad7a02d86ccac3775bafed3de9bcb5f148c003b77dca4&amp;width=600&amp;height=600&amp;lang=ru_RU&amp;scroll=true")
		
	include ../sections/_contacts-inner.pug
	include ../sections/_footer.pug
	
block variables
	-var title = "Shaker";
