extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.page-main
		include ../sections/_header-banner.pug
		
		include ../sections/_constructor-inner-page.pug
		
		
		include ../sections/_review.pug
	
block variables
	-var title = "Shaker";