extends ../layouts/layout.pug
mixin blog-card(img, title, txt)
	//=========== single card ============
	.blog-card.img-zoom
		.blog-card__img
			img.lazy(src="./img/blog/"+ img +".webp", alt="img")
		
		.blog-card__body
			a(href="single-blog.html").title-25 !{title}
			p !{txt}
			.blog-card__footer
				a(href="single-blog.html").btn-arrow
					span  Читать
					svg.arrow-right
						use( href='./img/spriteSvg.svg#arrow')
				//- span 02 08 2022
block content
	include ../sections/_header.pug
	main.inner-page.inner-page--article
		//======= breadcrumbs =======
		.breadcrumbs
			ul
				li
					a(href="index.html") Главная
				li
					a(href="blog.html") Полезные статьи
				li
					a(href="#!") Шейкер + маркетплейс
		
		section.single-article
			h1.h1 Шейкер + маркетплейс = 💜
			.inner-page-banner
				picture
					source(srcset="./img/article-page/article-bg-mob.webp", media="(max-width: 767px)")
					img.lazy(src="./img/article-page/article-bg.webp", alt="banner")
			
			//============= ARTICLE CONTENT ============
			.single-article__content
				p Вы находитесь в поисках товара для продажи на маркетплейсах или своем магазине/фитнес-центре? Или вы хотите увеличить популярность своего бренда? Может быть хотите заказать шейкеры со своим логотипом к какой-то торжественной дате?
				
				p Тогда вы пришли по адресу! Мы запустили производство шейкеров в России в 2016 году, тестируя материалы, формы и отзывы покупателей, накопили огромный опыт и сейчас уже знаем чточно, что шейкеры обладают большим потенциалом роста на маркетплейсах и только набирают объемы продаж.

				h2 Топ — 5 проблем при выборе<br> товаров для продаж на площадках: 
				ul
					li какой товар выбрать?

					li как найти прямого производителя и не переплачивать посредникам?

					li как организовать маркировку товара и коробок? 

					li какая модель более популярна и будет хорошо оборачиваться? 

					li как не допустить провала в продажах и как часто нужно делать заказ продукции у поставщика?
				
				p Мы знаем ответы на эти вопросы и все расскажем вам. Чтобы не быть голословными мы запустили свою линейку шейкеров и тестируем какие цвета и модели шейкеров лучше продаются и как принт влияет на внимание аудитории.
				
				img.mb-50.lazy(src="./img/article-page/logos.webp", width="660" alt="img")
				
				p.mb-18 Подскажем какие позиции лучше выбрать для первого заказа, поможем с маркировкой, упакуем в коробки правильного размера и отправим любой транспортной компанией на ваш выбор (или посоветуем какую лучше выбрать) 

				p.mb-18 Есть вопросы — напишите нам в любом мессенджере или на почту. Хотите самостоятельно выбрать модель и цвета шейкера — воспользуйтесь нашим онлайн-конструктором. 

				p Ваша команда Shaker Bottle.  
				
				//========SLIDER ============
				.article-slider.swiper
					.swiper-wrapper
						.swiper-slide
							img.lazy(src="./img/article-page/article-img.webp", width="660" alt="img")
						.swiper-slide
							img.lazy(src="./img/article-page/article-img.webp", width="660" alt="img")
						.swiper-slide
							img.lazy(src="./img/article-page/article-img.webp", width="660" alt="img")
					
					.swiper-navigation-left
						.swiper-button-next
							svg
								use(href="./img/spriteSvg.svg#caret-right")
						.swiper-button-prev
							svg
								use(href="./img/spriteSvg.svg#caret-left")
						.swiper-pagination

				p Подскажем какие позиции лучше выбрать для первого заказа, поможем с маркировкой, упакуем в коробки правильного размера и отправим любой транспортной компанией на ваш выбор (или посоветуем какую лучше выбрать) 
				.border-block
					p Вы не найдете в конструкторе эту модель, она из ограниченной серии, поэтому свяжитесь с нашими менеджерами, они с удовольствием вам помогут подобрать другие сочетания цветов и подготовят макеты с логотипом.
				
				p.mb-18 Тогда вы пришли по адресу! Мы запустили производство шейкеров в России в 2016 году, тестируя материалы, #[mark формы и отзывы покупателей, накопили огромный] опыт и сейчас уже знаем чточно, что шейкеры обладают большим потенциалом роста на маркетплейсах и только набирают объемы продаж.

				p Тогда вы пришли по адресу! Мы запустили производство шейкеров в России в 2016 году, тестируя материалы, формы и отзывы покупателей, накопили огромный опыт и сейчас уже знаем чточно, что шейкеры обладают большим потенциалом роста на маркетплейсах и только набирают объемы продаж.

				.accent-text
					p Каждый месяц мы выбираем один цвет стакана с любой крышкой и клапаном и делаем на него скидку. Акция распространяется на модели С01 и С02. Больше никаких условий, просто выберите крышку и клапан и получите свой уникальный шейкер со скидкой!

				.video-preview-item(data-video-btn="video1")
					//===== play btm =====
					// button.play-icon
					//	  svg.svg-play
					//		  use(href="./img/spriteSvg.svg#svg-play")
					.video-poster
						img.lazy(src="./img/article-page/article-poster.webp", alt="poster")

					iframe(width="100%", height="100%", src="https://www.youtube.com/embed/9YpM5vwYMyU?si=iCuuVvf5FQhhRJll", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)

				p #[big Описание про печать готовится, видео монтируется. Уже можно посмотреть видео про все производство, #[mark про печать там тоже есть:]]

				.article-preview-block
					p Описание про печать готовится, видео монтируется. 
					img.lazy(src="./img/article-page/article-poster2.webp", width="660" alt="img")

		//============= BLOG CARDS ============
		.blog-articles--four
			.blog-articles
				+blog-card(1, 'Работаем в штатом режиме.','Мы уверены что шейкеры вам подойдут')
				+blog-card(4, '100% оранжевый','Ограниченная серия')
				+blog-card(2, 'Цвет месяца — PINK','Апрель в розовом цвете. Скидка внутри →')

				
				+blog-card(5, 'Цвет месяца — LIGHT BLUE TWO','Мы продолжаем традиционную скидку месяца. Подробности внутри →')


	include ../sections/_contacts.pug
	include ../sections/_footer.pug
	//===================VIDEO MODAL ==============
	.modal-frame(data-modal="video1")
		.modal-frame__content
			//=======close btn ======
			button.btn-close +
			
			.video
				iframe(width="100%", height="100%", src="https://www.youtube.com/embed/9YpM5vwYMyU?si=iCuuVvf5FQhhRJll", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", referrerpolicy="strict-origin-when-cross-origin", allowfullscreen)
block variables
	-var title = "Shaker";